:root {
  --max-width: 1100px;
  --header-height: 100px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --main-background: #bae8e8;
  --main-text-color: #FFFFFF;
  --page-background: #2c698d;
  --shadow-color: #bae8e8;
  --page-shadow: inset 0 0 5px 2px var(--shadow-color);
  --main-padding : 10px;
  --element-padding :6px;
  --font-size : 16px;
  --title-font-size: 32px;


}

@media (prefers-color-scheme: dark) {
  :root {
    --main-background: #272643;
    --main-text-color: #ffffff;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  background-color: var(--main-background);
  color : var(--main-text-color);
  font-size : var(--font-size);
  font-family: var(--font-mono);
}

a {
  color: inherit;
  text-decoration: none;
}
header, main{
  max-width : var(--max-width);
  margin : 0 auto;
  padding: var(--main-padding);
  background-color: var(--page-background);
  box-shadow: var(--page-shadow);
}

header{
  height: var(--header-height);
}
main{
  min-height: calc(100vh - var(--header-height));
}
